<div class="project">
    <div class="name">
        <p class="text">{{ data().name }}</p>
        <span>{{ data().created_at }}</span>
    </div>
    <p class="text">{{ data().description }}</p>
    <span class="text_box">{{ data().status }}</span>
    <div class="icons">
        <a [routerLink]="['/admin/projects', data().id]"><ion-icon name="people-outline"></ion-icon></a>
        <a [routerLink]="['/admin/projects/', data().id, 'update']" class="edit"><ion-icon name="create-outline"></ion-icon></a>
        <a [routerLink]="['/admin/projects', data().id, 'delete']" class="delete"><ion-icon name="trash-outline"></ion-icon></a>
    </div>
</div>