<a routerLink="/admin/projects" class="backdrop"></a>
<dialog open>
  <h2>Here are your developers</h2>
  <span>Add them to your project</span>
  <ion-icon name="logo-sass" class="logo"></ion-icon>
  <div class="developers" [class.height]="devsLength">
    @if (devsLength) {
        <p>You haven't added developers in the system. Please add them</p>
    } @else {
        @for(dev of devs(); track dev.id) {
            <app-employee [employee]="dev" [id]="id()" />
        }
    }
  </div>
  <div class="actions">
    <a routerLink="/admin/projects" class="btn cancel" type="button">Cancel</a>
    <a [routerLink]="[]" class="btn" type="submit">Add Developer</a>
    </div>
</dialog>
<router-outlet />