<section>
    @if(showMessage()) {
        <p class="message" [class.showMessage]="slideInMessage()">{{ responseMessage() }}</p>
    }
    <div class="right">
        <div class="header">
            <h2>Welcome Back!</h2>
            <p>Simplify your workflow and boost your productivity with SaaS app. Get started for free.</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Email" formControlName="email">
                @if(showErrorMessage() && errorMessage() === "User with this email does not exist. ") {
                    <p class="error">A user with this email does not exist</p>
                }
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password" formControlName="password">
                @if(showErrorMessage() && errorMessage() === "Invalid credentials. ") {
                    <p class="error">Invalid Password. Please try again. </p>
                }
                <a [routerLink]="['/']" class="password-text" >Forgot Password? </a>
            </div>
            <button type="submit" class="btn" [disabled]="form.invalid || isLoading()">
                <span [class.hidden]="isLoading()">Sign Up</span>
                <span class="loader" [class.hidden]="!isLoading()"></span>
            </button>
        </form>
        <p>Not a member? <a routerLink="/sign-up" class="register-text">Register now</a> </p>
    </div>
    <div class="left"></div>
</section>