/* You can add global styles to this file, and also import other style files */
:root {
  --color-slate-grey: #2E2E2E;
  --background-grey: #fafafa;
  --color-grey: #D9D9D9;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

body {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    color: white;
    background-color: black;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.35rem;
    align-items: center;
    border-radius: 7.5px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(-3px);
}