<section class="container">
    <div class="left"></div>
    <div class="right">
        <div class="header">
            <h2>SignUp to <ion-icon name="logo-sass" class="logo"></ion-icon></h2>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="names">
                <p class="input_field">
                    <label for="firstName">First Name</label>
                    <input id="firstName" name="name" type="text" placeholder="Enter your first name" formControlName="firstName">
                </p>
                <p class="input_field">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="lastName" type="text" placeholder="Enter your last name" formControlName="lastName">
                </p>
            </div>
            <div class="input_field">
                <label for="lastName">Email</label>
                <input id="email" name="name" type="email" placeholder="Enter your last name" formControlName="email">
            </div>
            <div class="input_field">
                <label for="lastName">Create A Password</label>
                <div class="input">
                    <input id="password" name="name" type="password" placeholder="Enter your last name" formControlName="password">
                    <ion-icon name="eye-outline"></ion-icon>
                </div>
            </div>
            <div class="input_field">
                <label for="lastName">Confirm Password</label>
                <div class="input">
                    <input id="confirmPassword" name="name" type="password" placeholder="Enter your last name" formControlName="confirmPassword">
                    <ion-icon name="eye-outline"></ion-icon>
                </div> 
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <p class="login-text">Already have an account<a routerLink="/sign-in">Login</a></p>
    </div>
</section>