<section>
    <div class="sidebar" [class.open]="menuOpen()" (click)="onToggleMenu()">
        <aside>
            <div class="header">
                <ion-icon name="logo-sass" class="logo"></ion-icon>
                <div class="close">
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </div>
            <div class="links">
                <div class="top">
                    <a routerLink="/admin/overview">
                        <div class="left">
                            <ion-icon name="clipboard-outline"></ion-icon>
                            <span>Overview</span>
                        </div>
                        <div class="right"></div>
                    </a>
                    <a routerLink="/admin/employees" >
                        <div class="left">
                            <ion-icon name="people-outline"></ion-icon>
                            <span>Developers</span>
                        </div>
                        <div class="right"></div>
                    </a>
                    <a routerLink="/admin/projects" >
                        <div class="left">
                            <ion-icon name="file-tray-stacked-outline"></ion-icon>
                            <span>Projects</span>
                        </div>
                        <div class="right"></div>
                    </a>
                    <a routerLink="/admin/issues" >
                        <div class="left">
                            <ion-icon name="easel-outline"></ion-icon>
                            <span>Issues</span>
                        </div>
                        <div class="right"></div>
                    </a>
                </div>
                <div class="bottom">
                    <a routerLink="" >
                        <div class="left">
                            <ion-icon name="settings-outline"></ion-icon>
                            <span>Settings</span>
                        </div>
                        <div class="right"></div>
                    </a>
                    <a routerLink="/admin/logout" >
                        <div class="left">
                            <ion-icon name="log-out-outline"></ion-icon>
                            <span>Logout</span>
                        </div>
                        <div class="right"></div>
                    </a>
                </div>
            </div>
        </aside>
    </div>
    <main>
        <div class="header">
            <div class="left">
                <div class="menu" (click)="onToggleMenu()">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search-bar">
                    <ion-icon name="search-outline"></ion-icon>
                    <input id="search" type="text" placeholder="search here">
                </div>
            </div>
            <div class="user">
                <span>{{ currentUser.name }}</span>
                <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
        </div>
        <router-outlet/>
    </main>
</section>
